@import '../../../../assets/shared/Color';

.navbar-main {
  background-color: $primary-color;
  height: 3.75em;
}

.custom-toggler {

  .navbar-toggler-icon {

    background-image: url(../../../../assets/images/menu-icon.png);
  }
}

.btn {

  cursor: pointer;

  &:focus {

    box-shadow: 0 0 0 0.2rem rgba($secondary-color, 0.25);
  }
}
