@import '../../../assets/shared/Color';

.container-items {
  width: 20vw;
  position: fixed;
  z-index: 100;
  margin: 8em 2.675em;
}

.search-box {
  padding: 1em 1.675em;
  background-color: $tertiary-color;
}